@use "@/styles/_variables" as *;

.navbar {
  width: 250px;
  height: 100vh;
  padding: 24px;
  box-shadow: $shadow-md;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .titleArea {
  border-bottom: 2px solid $border-light;
  padding-bottom: 24px;

    .title {
      font-size: 24px;
      font-weight: 600;
      color: $primary-color;
      letter-spacing: 0.05em;
    }
  }
}
