@use './variables' as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-family;
  font-size: $font-size-md;
  color: $text-primary;
  background-color: $bg-primary;
  line-height: 1.6;
  min-height: 100vh;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
