@use "../../../../styles/variables" as *;

.toggle-switch {
  position: relative;
  width: 48px;
  height: 28px;
  flex-shrink: 0;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .toggle-switch__slider {
      background-color: $color-primary;
    }

    &:checked + .toggle-switch__slider::before {
      transform: translateX(20px);
    }
  }
}

.toggle-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $border-color;
  transition: 0.3s;
  border-radius: $border-radius-full;

  &::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: $border-radius-full;
    box-shadow: $shadow-sm;
  }
}
