@use "../../../../styles/variables" as *;

.repayment-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-md;
  }
}
