@use "@/styles/_variables" as *;

.dashboardContainer {
  padding: $spacing-xl;

  .dashboardTitle {
    font-size: 24px;
    font-weight: 700;
    color: $text-primary;
    margin-bottom: $spacing-md;
  }

  .border {
    border: 1px solid $border-color;
    border-radius: 8px;
  }
}
