@import '../../styles/variables';
@import '../../styles/mixins';

.input {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  &--full-width {
    width: 100%;
  }

  &__label {
    font-size: $font-size-sm;
    font-weight: 600;
    color: $text-primary;
  }

  &__required {
    color: $color-danger;
    margin-left: $spacing-xs;
  }

  &__field {
    padding: $spacing-md;
    border: 1px solid $border-color;
    border-radius: $border-radius-md;
    font-size: $font-size-md;
    font-family: inherit;
    transition: border-color $transition-fast;

    &:focus {
      outline: none;
      border-color: $color-primary;
    }

    &:disabled {
      background-color: $bg-secondary;
      cursor: not-allowed;
    }

    &::placeholder {
      color: $text-light;
    }
  }

  &--error &__field {
    border-color: $color-danger;
  }

  &__error {
    font-size: $font-size-xs;
    color: $color-danger;
  }
}
