@import '../../styles/variables';
@import '../../styles/mixins';

.loading {
  @include flex-center;
  padding: $spacing-xl;

  &--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    @include flex-center;
    z-index: $z-index-modal;
  }

  &__content {
    @include flex-center;
    flex-direction: column;
    gap: $spacing-md;
  }

  &__spinner {
    border-radius: 50%;
    border: 3px solid $border-color-light;
    border-top-color: $color-primary;
    animation: spin 1s linear infinite;

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }

    &--sm {
      width: 24px;
      height: 24px;
      border-width: 2px;
    }

    &--md {
      width: 40px;
      height: 40px;
      border-width: 3px;
    }

    &--lg {
      width: 60px;
      height: 60px;
      border-width: 4px;
    }
  }

  &__text {
    font-size: $font-size-md;
    color: $text-secondary;
    margin: 0;
  }
}
